{% extends 'admin/adminbase.html.twig' %}
{% block title %} {{ title }} {% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center no-gutters">
            <div class="col-12 col-mg-6 col-lg-6">
                {% if check_category is empty %}
                    <p>создание постов невозможно! добавьте категорию! <a href="{{ path('admin_category_create') }}">создать категорию-></a></p>
                {% endif %}
                <h2 class="display-4 mt-4 text-center">Список постов</h2>
                <ul class="list-group">
                    {% for post_item in post %}
                        <li>{{ post_item.title }} <img style="width: 100px" src="{{ asset('/uploads/post/') }}{{ post_item.image }}" alt=""><a href="{{ path('admin_post_update', {'id': post_item.id}) }}">редактировать</a></li>
                    {% endfor %}
                </ul>
                {% if check_category is not empty %}
                    <a class="btn btn-block btn-primary mt-3" href="{{ path('admin_post_create') }}">создать пост </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center no-gutters">
            <div class="col-8 col-mg-6 col-lg-6">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <p>{{ message }}</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}